@import url('../node_modules/modern-normalize/modern-normalize.css');

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

@font-face {
    font-family: "Weather in October";
    src: url(./Weather\ in\ October\ \(Demo\).otf);
}

* {
    color-scheme: dark;
    --titleFont-font-family: "Weather in October";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    gap: 100px;
}

.title {
    font-size: 2.5rem;
    font-family: var(--titleFont-font-family);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form button {
    align-self: center;
}

